@import url('https://fonts.googleapis.com/css2?family=Roboto+Serif:ital,wght@0,700;1,700&family=Roboto:wght@400;700&display=swap');

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
}

.menu{
  width: 100%;
  height: 9vh;
  background-color: #252525;
}

.container{
  width: 95%;
  height: 9vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo{
  width: 13vw;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.logo h1{
  font-family: Roboto Serif, serif;
  padding-left: 5px;
  font-size: 0.9375rem;
  font-weight: 700;
  line-height: 18px;  
  letter-spacing: 0.32px;
  color: #FFFFFF;
}

.links{
  padding-right: 20px;
  width: 10vw;
  display: flex;
  justify-content: space-around;
}

.welcome {
  background-image: url('./img/Grupo486@2x.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 900px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.welcome h2 {
  padding-top: 60px;
  font-family: Roboto Serif, serif;
  font-size: 3.125rem;
  font-weight: 700;
  line-height: 60px;
  text-align: center;
  color: #FFFFFF;
}

.welcome picture img {
  padding-top: 26px;
}

.pet {
  background-image: url('./img/Interseção16@2x.png');
  background-size: cover;
  background-position: top;
  background-repeat: no-repeat;
  width: 100%;
  height: 1100px;
  padding-left: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: left;
}

.pet h2 {
  font-family: Roboto Serif;
  font-size: 3.125rem;
  font-weight: 700;
  line-height: 57px;
  color: #3A342F;
  text-align: left;
}

.pet p {
  width: 416px;
  height: 240px;
  font-family: Roboto;
  font-size: 1.75rem;
  font-weight: 400;
  line-height: 32px;
  color: #3A342F;
  padding-top: 25px;
  
}

.pet a,
.dog a {
  width: 249px;
  height: 78px;
  border-radius: 44px;
  padding: 20px;
  text-align: center;
  background-color:#3A342F ;
  color: #FFFFFF;
  font-family: Roboto;
  font-size: 1.75rem;
  font-weight: 700;
  line-height: 32px;
}

.dog{
  background-image: url('./img/Grupo480@2x.png');
  background-size: cover;
  background-position: top;
  background-repeat: no-repeat;
  width: 100%;
  height: 700px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-left: 500px;
}

.dog h2{
  width: 254px;
  height: 118px;
  font-family: Roboto Serif;
  font-size: 3.125rem;
  font-weight: 700;
  line-height: 57px;
  color: #FFFFFF;
}

.dog p{
  width: 430px;
  height: 250px;
  padding-left: 90px;
  padding-top: 10px;
  padding-bottom: 30px;
  font-family: Roboto;
  font-size: 1.75rem;
  font-weight: 400;
  line-height: 32px;
  color: #FFFFFF;
}

.dog a{
  background-color: #FFFFFF;
  color: #000000;
}

.apoio{
  background-color: #FFFFFF;
  width: 100%;
  height: 115px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.parceiros{
  display: flex;
  justify-content: space-around;
  width: 750px;
}

.parceiros h2 {
  font-family: Roboto Serif;
  font-size: 1.5rem;
  font-style: italic;
  font-weight: 400;
  line-height: 28px;
  color:#FD6A9A;
  ;

}

.parceiros-imgs {
  display: flex;
  width: 550px;
  justify-content: space-around;
}

footer {
  width: 100%;
  height: 315px;
  display: flex;
  background-color: #EB4A7B;
  justify-content: space-evenly;
  align-items: center;
}

.atendimento,
.sobre,
.unidades{
  width: 160px;
  height: 160px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.atendimento h2,
.sobre h2,
.unidades h2 {
  padding-bottom: 10px;
  font-family: Roboto Serif;
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 28px;
  color: #FFFFFF;
}

.atendimento a,
.sobre a,
.unidades a {
  font-family: Roboto;
  font-size: 14px;
  font-weight: 400;
  line-height: 16px;
  color: #FFFFFF;
}


/* medias queries*/
@media (min-width:201px) and (max-width: 500px){
  .menu{
    width: 100%;
  }

  .container{
    width: 100%;
  }

  .logo{
    width: 40vw;
    height: 9vh;
  }

  .links{
    width: 30vw;
    height: 9vh;
    padding-right: 0px;
    align-items: center;
  }

  .links a:nth-of-type(1), 
  .links a:nth-of-type(2) 
  {
    display: none;
  }

  .welcome{
    width: 100%;
    height: 100vh;
    background-image: url('./img/Grupo486.png');
  }

  .welcome h2 {
    font-size: 2rem;
    line-height: 40px;
  }

  .welcome picture img {
    padding-top: 36px;
  }

  .pet{
    width: 100%;
    height: 920px;
    background-image: url('./img/cachorro-2.svg');
    background-size: 80vw;
    background-position: bottom;
    background-color: #F4F2F3;
    padding-top: 100px;
    padding-left: 25px;
    display: flex;
    justify-content: initial;
    align-items: flex-start;
  }

  .pet h2 {
    font-size: 2rem;
  }

  .pet p {
    width: 300px;
    height: 200px;
    font-size: 1.3rem;
    padding-top: 0px;
  }

  .pet a,
  .dog a {
    width: 220px;
    height: 60px;
    padding: 12px;
    font-size: 1.5rem;
  }

  .dog{
    width: 100%;
    height: 900px;
    background-image: url('./img/Grupo496.png');
    padding-top: 100px;
    padding-left: 25px;
    justify-content: initial;
    gap: 20px;
    align-items: flex-start;
  }
  
  .dog h2 br{
    display: none;
  }

  .dog h2{
    width: 300px;
    height: 40px;
    font-size: 1.7rem;
    line-height: 40px;
  }

  .dog p {
    width: 300px;
    height: 200px;
    padding-left: 0px;
    padding-top: 0px;
    padding-bottom: 0px;
    font-size: 1.3rem;
  }

  .apoio{
    width: 100%;
  }

  .parceiros {
    width: 100%;
    align-items: center;
    flex-direction: column;
  }

  .parceiros h2 {
    font-size: 1.2rem;
    padding-bottom: 10px;
  }

  .parceiros-imgs img{
    width: 140px;
  }

  .parceiros-imgs {
    width: 100%;
  }

  footer{
    width: 100%;
    height: 100vh;
    background-image: url('img/footer.jpg');
    background-repeat: no-repeat;
    background-size: 200px;
    background-position: top center;
    flex-direction: column;
    justify-content: center;
    gap: 30px;
  }

  .atendimento,
  .sobre,
  .unidades {
    width: 100%;
    align-items: center;
  }
}